<div class="container">
  <app-notification-center></app-notification-center>
  <h1>Product</h1>
  <div *ngIf="favoriteProduct.length > 0" class="favorite-product-block">
    <h2>Favorite:</h2>
    <div *ngFor="let fav of favoriteProduct" class="favorite-details">
      <p><strong>{{ fav.name }}</strong></p>
      <p>Price: {{ fav.price }}</p>
      <p>Category: {{ fav.category }}</p>
    </div>
  </div>

  <app-product-form 
    (productAdded)="onProductAdded($event)">
  </app-product-form>

  <app-product-list 
    [products]="products"
    (favoriteToggled)="onFavoriteToggled($event)"
    (productDeleted)="onProductDeleted($event)"
    (productUpdated)="onProductUpdated($event)">
  </app-product-list>
</div>
