<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
     
      <div class="card shadow-lg border-0 mb-4 bg-white">
        <div class="card-body p-5 text-center">
          <h1 class="display-4 fw-bold text-primary mb-3">
             Welcome :)
          </h1>
          
          <div class="d-flex gap-3 justify-content-center">
            <a appHoverScale 
              routerLink="/profile" 
              class="btn btn-primary btn-lg px-4"
              appHighlight="#0b5ed7"
            >
              View Profile
            </a>
            <a appHoverScale 
              routerLink="/login" 
              class="btn btn-outline-primary btn-lg px-4"
              appHighlight="#e0e7ff"
            >
              Login
            </a>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>
